/* AJUSTES GENERALES */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

/* HEADER Y NAV */
header {
  background-color: #fbf1fbca;
  filter: drop-shadow(0 0.8mm 0.6mm rgba(161, 0, 210, 0.17));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-family: "Funnel Sans", sans-serif;
  font-size: 15px;
  color: #6e00ff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}

.nav-header li {
  list-style: none;
  margin: 0 25px;
}

.nav-header ul {
  display: flex;
  justify-content: end;
  width: 75%;
}

.img-logo {
  width: 15%;
}

/* Fondo transparente y sin borde */
.navbar {
  background-color: transparent !important;
  border: none;
}

/* Color personalizado en los textos */
.navbar .nav-link,
.navbar .navbar-brand {
  color: #6e00ff !important;
}

/* Color al pasar el mouse */
.navbar .nav-link:hover {
  color: #a657ff !important;
}

/* Ícono hamburguesa personalizado */
.navbar-toggler {
  border-color: #6e00ff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%236e00ff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* HOME */
.titulo-home {
  font-family: "Funnel Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.conteiner-titulo-home {
  background: linear-gradient(to right, #6e00ff, #c521ec);
  margin-bottom: 1.5rem;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 8px;
  padding: 0.5em;
}

.p-banner {
  font-family: "Funnel Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  color: white;
}

.conteiner-btns {
  padding: 20px 0px;
}

.btn-home a {
  padding: 10px 15px;
  font-family: "Funnel Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  background-color: #a657ff;
  text-decoration: none;
  color: white;
  margin: 5px;
  border-radius: 24px;
}

.btn-home a:hover {
  background-color: #6e00ff;
}

button.btn-home {
  border: 0px;
  background: transparent;
}

.video-home {
  text-align: center;
  padding: 40px;
  background-color: #f6f5f2;
  max-height: 90vh;
}

.video-home iframe {
  padding: 20px;
  filter: drop-shadow(0 0.8mm 0.6mm rgba(161, 0, 210, 0.17));
}

.main-principal {
  display: flex;
  background-image: url(../img/Portada-2-desktop_Mesa\ de\ trabajo\ 1.png);
  background-size: cover;
  background-color: black;
  height: 65vh;
  padding: 30px 80px;
}

.column {
  width: 50%;
  align-content: center;
}

.personaje {
  text-align: center;
}

.img-flor {
  max-width: 50%;
}

/* ENCABEZADOS */
h1 {
  color: #6e00ff;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.h2-video {
  color: #c521ec;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.titulo-estudios {
  color: #c521ec;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}

p {
  font-family: "Funnel Sans", sans-serif;
  font-size: 15px;
  color: black;
  line-height: 20px;
}

/* FOOTER  */
footer {
  background-color: #fbf1fbca;
  filter: drop-shadow(0 0.8mm 0.6mm rgba(161, 0, 210, 0.17));
  padding: 20px;
  text-align: center;
}

footer p {
  font-family: "Funnel Sans", sans-serif;
  font-size: 12px;
}

.logo-footer {
  max-width: 2%;
}

/* PROYECTOS y ESTUDIOS*/
.seccion-web {
  padding: 20px;
}

.imagen-web {
  width: 650px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.primer-div-proyectos {
  text-align: center;
  margin: 20px;
}

.p-proyecto {
  font-family: "Funnel Sans", sans-serif;
  font-size: 15px;
  color: grey;
}

.proyectos-flor {
  text-align: center;
  margin: 15px;
  padding: auto;
}

.btn-proyectos a {
  background-color: #a657ff;
  color: white;
  font-size: 15px;
  font-weight: 600px;
  font-family: "Funnel Sans", sans-serif;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 32px;
  margin: 5px;
}

.btn-proyectos a:hover {
  background-color: #6e00ff;
}

button.btn-proyectos {
  border: 0px;
  background: transparent;
}

.banner-proyecto {
  display: flex;
  background-image: url(../img/Portada-2-desktop_Mesa\ de\ trabajo\ 1.png);
  background-size: cover;
  background-color: black;
  height: 65vh;
  padding: 30px 80px;
  margin-top: 80px;
}

.margin-p {
  margin-top: 10px;
}

/* GRID ESTUDIOS */
.grid-estudios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.body-estudios {
  background-color: #fff7f3;
}

.h1-estudios {
  font-size: 2.5rem;
  color: #c68efd;
  font-family: "Funnel Sans", sans-serif;
}

/* FORMULARIO Y CONTACTO */
.conteiner-form form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Espacio entre elementos */
  max-width: 500px; /* Ancho máximo para que no se estire mucho */
  margin: 0 auto; /* Centrado horizontal */
  padding: 1rem;
}

.conteiner-form label {
  font-weight: bold;
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.conteiner-form input,
.conteiner-form textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Funnel Sans", sans-serif;
}

.conteiner-form input[type="submit"] {
  background-color: #a657ff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 24px;
}

.conteiner-form input[type="submit"]:hover {
  background-color: #6e00ff;
}

.main-contacto {
  min-height: 100vh;
  padding: 20px;
}

.conteiner-form {
  padding: 30px 20px;
}

/* EXPERIENCIA */
.main-experiencia {
  min-height: 100vh;
  padding: 20px;
}

.conteiner-experiencia {
  padding: 30px;
  height: 80vh;
}

.trabajos {
  font-family: "Funnel Sans", sans-serif;
  font-size: 18px;
  padding-top: 1em;
}

.experiencia-list ul {
  list-style-type: circle;
}

.experiencia-list li::marker {
  color: #c521ec;
  font-size: 18px;
}

.puesto {
  color: #c521ec;
  font-weight: 700;
}

/* ACORDEON BOOTSTRAP CAMBIO DE COLOR */
#miAcordeon {
  padding-left: 150px;
  padding-right: 150px;
}

#miAcordeon .accordion-button {
  background-color: #ebd6fb;
  color: #333;
}

#miAcordeon .accordion-button:not(.collapsed) {
  background-color: #ebd6fb;
  color: #333;
}

#miAcordeon .accordion-body {
  background-color: #f9f0ff;
  color: #333;
}

#miAcordeon .accordion-item {
  border: 1px solid #ebd6fb;
}

#miAcordeon .accordion-button:focus {
  box-shadow: none;
}

/* MEDIASQUERY */
@media (max-width: 768px) {
  /* HOME */
  .main-principal {
    flex-direction: column;
    height: 110vh;
    padding: 50px 20px;
    background-image: url(../img/Portada-2-mobile.png);
    background-size: cover;
  }

  .column {
    width: 100%;
  }

  .img-flor {
    max-width: 100%;
    padding-top: 70px;
  }

  .video-home iframe {
    width: 80%;
  }

  .logo-footer {
    max-width: 12%;
  }

  /* GRID ESTUDIOS */
  .grid-estudios {
    grid-template-columns: 1fr;
  }

  /* ESTUDIOS */
  .imagen-web {
    width: 300px;
    height: 400px;
  }

  #miAcordeon {
    padding-left: 20px;
    padding-right: 20px;
  }

  .banner-proyecto {
    flex-direction: column;
    height: 100vh;
    padding: 50px 20px;
    background-image: url(../img/Portada-2-mobile.png);
    background-size: cover;
  }

.conteiner-btns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
}
