$color-principal: #a657ff;
$color-secundario: #6e00ff;
$color-texto: white;
$fuente-principal: "Funnel Sans", sans-serif;
$border-radius: 24px;
$padding-btn: 10px 15px;
$color-body: #f9f3ef;
$color-parrafos: grey;
